body.home {
    margin: 0px;
    background-image:url(images/imgbg.jpg);
    background-repeat: repeat-x;
    background-color: #95007e;
}

body.resume {
    background-color: #95007e;
}

body.resume {
    background-color: #65626a;
    background-image:url(images/imgbg2.jpg);
    margin: 150px 0px 0px 0px;
}

img {
    margin: 0px;
    padding: 0px;
    border: 0px none black;
}

.resumetable {
    padding: 100px;
    margin: 0px auto 0px auto;
    background-color: #94007e;
    border: solid 1px #92948f;
}

.resumeleft {
    width: 150px;
    padding-bottom: 30px;
    vertical-align: top;
    font-size: 20px;
    color: #ffffff;
    font-family: georgia;
    padding: 20px;
}

.resumeright {
    width: 250px;
    padding-bottom: 30px;
    vertical-align: top;
    font-size: 12px;
    color: #fff600;
    font-family: verdana;
    padding: 20px;
}

h1 {
    color: #ffffff;
    font-size: 25px;
    font-family: georgia;
    text-align: center;
}

p {
    color: #ffffff;
    font-size: 15px;
    font-family: Georgia;
    text-align: center;
}

a:link {

    color: #95ff2b;
}


a:visited {
    color: #ff0091;
}


a:hover {
    color: #ffffff;
}


a:active {
    color: #a7a6aa;
}

.EMIMG {
    position: absolute;
    left: 864px;
    top: 741px;
    border: none;
}

.RESIMG {
    position: absolute;
    left: 883px;
    top: 663px;
    border: none;
}

.MAINIMG {
    position:relative;
    min-width: 481px;
}