body {
    background-color: #363636;
    font-size: 15px;
    line-height: 30px;
    font-family: georgia;
    text-align: justify;
    color: #575757;
    background-image: url("hrtbg.jpg");
    background-repeat: repeat;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

h1 {
    color: #e666d3;
    margin-left: 20px;
    font-size: 36px;
    font-family: Arial;
    text-decoration: underline overline;
    font-weight: normal;
    text-transform: uppercase;
}

h2 {
    color: #e666d3;
    margin-left: 20px;
    font-size: 25px;
    font-family: Arial;
    text-decoration: underline overline;
    font-weight: normal;
    text-transform: uppercase;
}

table {
    border: 1px solid #ffffff;
    width: 800px;
    background-color: #ffffff;
}

div.content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}

div.images {
    text-align: center;
    padding: 0px 0px;
}

a:link {
    text-decoration: underline;
    color: #e666d3;
}

a:visited {
    text-decoration: underline;
    color: #8bd6fd;
}

a:hover {
    text-decoration: none;
    color: #e1e171;
}

a:active {
    text-decoration: none;
    color: #b1b1b1;
}

.pic {
float: right;
  width: auto;
    margin: 0.5em;
  padding: 0.5em;
}

footer {text-align: center;
}

input[type=text] {
    width: 20%;
    padding: 0px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    background-color: #363636;
    color: #e1e171;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 50%;
}

select {
    width: 20%;
    padding: 0px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    background-color: #363636;
    color: #e1e171;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #363636;
    border: 2px solid #000000;
    color: #e1e171;
    padding: 5px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}